@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans.ttf') format("truetype-variations");
  src: url('../fonts/OpenSans.woff2') format("woff2-variations");
  src: url('../fonts/OpenSans.woff2') format("woff2");
  font-weight: 300 800;
	font-stretch: 75% 100%;
  font-display: swap;
}